{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
        <h1 style="text-align: center;">About Page</h1>
        <h3>Our Story</h3>
        <p>CorkBoard  is about giving people the power to create space to find belonging in their lives.
         We want to make it easier for you to talk regularly with the people you care about. We want you 
        to build genuine relationships with your friends and communities close to home or around the world.</p>

        <div class="card mt-4">
            <h3 class="card-header">Why It Works</h3>
            <div class="card-body">
                <h5 class="card-title">Personalized Content</h5>
                <p class="card-text">Website that creates a collaborative environment where people can view and add things to a digital CorkBoard</p>
                <h5 class="card-title">Trusted Content</h5>
                <p class="card-text"></p>Created by experts in their field of expertise.</p>
                <h5 class="card-title">Tools to empower</h5>
                <p class="card-text"></p>CorkBoard allows people to search, add, and create boards.</p>
            </div>
        </div>
    </div>

{% endblock content %}
