{% extends "layout.html" %}
{% block content %}

<div style="margin-left: 40%;">
    <h1>Welcome to Cork Board</h1>
</div>

<div style="margin-top: 1cm;">
    <div class="Landing-content" style="text-align:left"> 
        <p> 
            Discover, join, and stay updated with activities and 
            announcements across campus. Cork Board enables 
            students to highlight club and campus events in a fun and organized way. 
        </p>
    </div>
</div>



<div style="margin-left: 20%; margin-top: 30px;">
    <h3>Why Choose Cork Board</h3>
</div>

<div style="margin-top: 5px;">
    <div class="Landing-content" style="text-align:left"> 
        <p> 
            Cork Board allows you to organize and design your personal space. 
            This allows for ease of use and access when it comes to planning your next events. 
            Cork Board is great for organizations with constantly moving events with times and locations. 
            With Cork Board, you have an open space in which people can communicate
        </p>
    </div>
</div>


{% endblock content %}
