{% extends "layout.html" %}

{% block title %} CorkBoard | Search User{% endblock %}

{% block content %}
  {% block body %}
  <form action="{{ url_for('main.search_user') }}" method="post" class="mb-5">
    <label for="username" class="form-label">Enter username:</label>
    <div class="input-group" style="align-items: baseline;">
        <input type="text" name="username" id="username" class="form-control" autocomplete="off" required>
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-info mb-4" style="margin-top: 0;">Search</button>
        </div>
    </div>
</form>

  
    

    {% if user %}
      <h2>User Profile</h2>
      <p>Username: <a href="{{ url_for('main.user_posts', username=user.username) }}">{{ user.username }}</a></p>
      <!-- Add other user details as needed -->
    {% endif %}

    {% if error_message %}
      <p>{{ error_message }}</p>
    {% endif %}
  {% endblock body %}
{% endblock content %}



